body, html {
  height: 100%;
}

#left {
  /*width: 200px;*/
  float: left;
  height: 100%;
  background: red;
}

#right {
  height: 100%;
  /*margin-left:-200px;
  margin-left: 30%;*/
  overflow:hidden;  /* BFC特性 */
  background: yellow;
}
